
* {
    font-family: 'Roboto', sans-serif;
}

/* Header Section */

.navbar {
    background-color: #e5f1f7;
    padding: 20px 20px;
    width: calc(100vw - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    /* margin-top: -350px; */
}

.navbar:hover {
    background-color: #d1e4f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #33475b;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #4a6387;
}

.navbar-nav .nav-link {
    color: #33475b;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #4a6387;
}

.form-inline .form-control {
    background-color: #f0f7fc;
    border-color: #bad1e0;
    color: #33475b;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.form-inline .form-control::placeholder {
    color: #73839d;
}

.form-inline .btn {
    color: #fff;
    background-color: #4a6387;
    border-color: #4a6387;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.form-inline .btn:hover {
    color: #33475b;
    background-color: #627eaa;
}

.navbar-nav.mr-auto {
    margin-left: auto;
}

.form {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link.active {
    color: #fff;
    background-color: #4a6387;
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-nav .nav-link {
    margin-right: 10px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    cursor: pointer;
}

.navbar {
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    color: #33475b;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #4a6387;
}

/* Mid section */
.image img{
    width: 400px;
    width: 400px;
}

.content{
    justify-content: center;
    padding-top: 120px;
}
.about-buuton{
    margin-top: 25px;
}


/* Feedback section */
:root {
    --indigo-dye: #143D5Aff;
    --lavender-pink: #EB9ECBff;
    --columbia-blue: #C0E0EDff;
    --cerulean: #497E94ff;
    --white: #FCFDFDff;
}

.feedback-form {
    max-width: 150%;
    width: 600px;
    margin: 20px auto;
    padding: 50px;
    border: 4px solid var(--indigo-dye);
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0 var(--cerulean);
    background-color: var(--columbia-blue);
    margin-top: 0px;
    padding-top: 5px;
    margin-top: 30px;
}

.feedback-form .form-label {
    font-weight: 600;
    color: var(--columbia);
    padding-left: 5x;
    margin: 10px;
}

.feedback-form .form-control,
.feedback-form .form-select {
    width: 100%;
    height: 54px;
    border-radius: 11px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-shadow: 2px 2px 4px var(--indigo-dye);
    /* padding: 5px; */
}

.feedback-form button[type="submit"] {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--indigo-dye);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.feedback-form button[type="submit"]:hover {
    background-color: rgba(20, 61, 90, 0.9);
    /* Darkened color on hover */
}

.feedback-form .mb-3,
.feedback-form .row {
    margin-bottom: 20px;
}

.feedback-form .form-check-input:checked {
    background-color: var(--indigo-dye);
    border-color: var(--indigo-dye);
}

.feedback-form .form-check-label {
    font-weight: normal;
}

.feedback-form header {
    margin-top: 0;
    font-style: italic;
    text-align: center;
}

@media (max-width: 768px) {
    .feedback-form {
        padding: 20px;
        /* Adjusted padding for smaller screens */
    }

    .feedback-form button[type="submit"] {
        width: auto;
    }
}